.container {
  padding: 10px;
  background-color: #121212;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 85vh;
  display: flex;
  flex-direction: column;
  width: 320px;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  color: #e91e63;
  text-align: center;
  flex-shrink: 0;
}

.totalCount {
  font-size: 1rem;
  color: #b0bec5;
  margin-bottom: 20px;
  text-align: center;
  flex-shrink: 0;
}

.items {
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}
